In [38]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pymongo
import requests
import os
import time

In [39]:
!which chromedriver

/usr/local/bin/chromedriver

In [40]:
conn = "mongodb://localhost:27017"
Client = pymongo.MongoClient(conn)

In [41]:
### Nasa Mars News

In [42]:
url = "https://mars.nasa.gov/news/"

In [43]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

In [44]:
for x in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'lxml')

    titles = soup.find('div', 'a',  class_='content_title')
    paragraphs = soup.find(class_="article_teaser_body")

    for title in titles:
           print(title.text, x, '-------------')
    print(paragraphs)

NameError: name 'BeautifulSoup' is not defined

In [16]:
news_title = "Insight Captures Sunrise and Sunset on Mars"
news_paragraph = "InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day."

In [17]:
# Utilizing splinter to parse image site
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url2)

In [18]:
# Assigning article image to variable
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23202-640x350.jpg"

In [19]:
# Utilizing splinter to parse latest Mars weather post on NASA's Twitter Page

url3 = "https://twitter.com/marswxreport?lang=en"
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url3)

In [165]:
###Mars Weather

In [130]:
# Utilizing splinter to parse through to find the latest Tweet and turn it into text format
html = browser.html
soup = BeautifulSoup(html, 'lxml')
twitter = soup.find('p', class_='TweetTextSize').text
print(twitter)

InSight sol 150 (2019-04-29) low -98.5ºC (-145.3ºF) high -20.4ºC (-4.6ºF)
winds from the SW at 4.6 m/s (10.4 mph) gusting to 14.4 m/s (32.1 mph)
pressure at 7.40 hPapic.twitter.com/Sn17diwg2t

In [20]:
# Assigning the paragraph text to a variable
mars_weather = "InSight sol 150 (2019-04-29) low -98.5ºC (-145.3ºF) high -20.4ºC (-4.6ºF) winds from the SW at 4.6 m/s (10.4 mph) gusting to 14.4 m/s (32.1 mph) pressure at 7.40 hPapic.twitter.com/Sn17diwg2t"

In [21]:
###Mars Facts

In [22]:
# Utilizing Pandas to scrape data in tables about Mars
url4 = "https://space-facts.com/mars/"
table = pd.read_html(url4)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:

df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [24]:
# Converting data into HTML table string

mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [170]:
###Mars' Hemispheres

In [25]:
# Storing Mars' hemisphere images and titles into a Python Dictionary
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
]

In [26]:
# Utilizing splinter to parse clearer images and titles of the hemispheres
url5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url5)
mars_hemispheres = []

In [198]:
print(mars_hemispheres)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [36]:

for i in range (4):
    time.sleep(5)
    images = browser.find_by_tag('h3')
    images[i].click()
    html = browser.html
    soup = bs(html, 'html.parser')
    partial = soup.find("img", class_="wide-image")["src"]
    img_title = soup.find("h2",class_="title").text
    img_url = 'https://astrogeology.usgs.gov'+ partial
    dictionary={"title":img_title,"img_url":img_url}
    mars_hemispheres.append(dictionary)
    browser.back()